adminPanel_Service/apppppp/WindowsFormsApplication1/Service References/ServiceReference1/iService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBooks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Books" nillable="true" type="tns:Books" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooks" nillable="true" type="tns:ArrayOfBooks" />
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edition" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="editor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="format_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageNumbers" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="publicationDate" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="translator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Books" nillable="true" type="tns:Books" />
  <xs:complexType name="ArrayOfCustomers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customers" nillable="true" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomers" nillable="true" type="tns:ArrayOfCustomers" />
  <xs:complexType name="Customers">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="interested" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sirname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tcNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customers" nillable="true" type="tns:Customers" />
  <xs:complexType name="ArrayOfOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orders" nillable="true" type="tns:Orders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrders" nillable="true" type="tns:ArrayOfOrders" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="orderCount" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="orderDetail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
</xs:schema>