adminPanel_Service/apppppp/WindowsFormsApplication1/Service References/ServiceReference1/iService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56696/iService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.Model" />
  <xs:element name="kitapGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deGet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="kitapGetirResult" nillable="true" type="q1:ArrayOfBooks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapDetay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapDetayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="kitapDetayResult" nillable="true" type="q2:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapGuncelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="book" nillable="true" type="q3:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapGuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kitapGuncelleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="book" nillable="true" type="q4:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kitapEkleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapSil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="book" nillable="true" type="q5:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kitapSilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kitapSilResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="musteriGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deGet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="musteriGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="musteriGetirResult" nillable="true" type="q6:ArrayOfCustomers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="musteriDetay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="musteriDetayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="musteriDetayResult" nillable="true" type="q7:Customers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="talepGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deGet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="talepGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="talepGetirResult" nillable="true" type="q8:ArrayOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>